In [153]:
from pyspark.sql import SparkSession
from pyspark import SparkConf, SparkContext
import os
from pyspark.sql.functions import col, to_date,date_format, to_timestamp
from pyspark.sql.types import StructType, TimestampType, StringType, StructField, StringType, IntegerType, BooleanType, DateType,DoubleType

In [32]:
spark = SparkSession.builder.master("local").appName("Retail Analytics").getOrCreate()

In [33]:
spark

In [34]:
BASE_PATH = os.getcwd()
BASE_PATH

'/home/saurabh/Desktop/SparkStudy/Spark60Days'

In [184]:
schema = StructType([
    StructField("Transaction_ID", DoubleType(), True),
    StructField("Customer_ID", DoubleType(), True),
    StructField("Name", StringType(), True),
    StructField("Email", StringType(), True),
    StructField("Phone", StringType(), True),
    StructField("Address", StringType(), True),
    StructField("City", StringType(), True),
    StructField("State", StringType(), True),
    StructField("Zipcode", StringType(), True),
    StructField("Country", StringType(), True),
    StructField("Age", DoubleType(), True),
    StructField("Gender", StringType(), True),
    StructField("Income", StringType(), True),
    StructField("Customer_Segment", StringType(), True),
    StructField("Date", StringType(), True),
    StructField("Year", DoubleType(), True),
    StructField("Month", StringType(), True),
    StructField("Time", StringType(), True),
    StructField("Total_Purchases", DoubleType(), True),
    StructField("Amount", DoubleType(), True),
    StructField("Total_Amount", DoubleType(), True),
    StructField("Product_Category", StringType(), True),
    StructField("Product_Brand", StringType(), True),
    StructField("Product_Type", StringType(), True),
    StructField("Feedback", StringType(), True),
    StructField("Shipping_Method", StringType(), True),
    StructField("Payment_Method", StringType(), True),
    StructField("Order_Status", StringType(), True),
    StructField("Ratings", DoubleType(), True),
    StructField("products", StringType(), True),
])

In [185]:
retail = spark.read.format("csv") \
    .option("header", "true") \
    .option("dateFormat", "%d/%m/%y") \
    .schema(schema) \
    .load(f"file://{BASE_PATH}/data/new_retail_data.csv")

In [186]:
retail = retail.withColumn("Date", to_date(col("Date"), "M/d/yyyy")) \
    .withColumn("Time", date_format(to_timestamp(col("Time"), "H:mm:ss"), "H:mm:ss"))

In [187]:
retail.show(10)

+--------------+-----------+-------------------+-------------------+------------+--------------------+----------+---------------+-------+---------+----+------+------+----------------+----------+------+---------+--------+---------------+-----------+------------+----------------+-------------+------------+---------+---------------+--------------+------------+-------+-----------------+
|Transaction_ID|Customer_ID|               Name|              Email|       Phone|             Address|      City|          State|Zipcode|  Country| Age|Gender|Income|Customer_Segment|      Date|  Year|    Month|    Time|Total_Purchases|     Amount|Total_Amount|Product_Category|Product_Brand|Product_Type| Feedback|Shipping_Method|Payment_Method|Order_Status|Ratings|         products|
+--------------+-----------+-------------------+-------------------+------------+--------------------+----------+---------------+-------+---------+----+------+------+----------------+----------+------+---------+--------+---------------+-----------+------------+----------------+-------------+------------+---------+---------------+--------------+------------+-------+-----------------+
|     8691788.0|    37249.0|Michelle Harrington|  Ebony39@gmail.com|1414786801.0|   3959 Amanda Burgs|  Dortmund|         Berlin|77985.0|  Germany|21.0|  Male|   Low|         Regular|2023-09-18|2023.0|September|22:03:55|            3.0|108.0287567|   324.08627|        Clothing|         Nike|      Shorts|Excellent|       Same-Day|    Debit Card|     Shipped|    5.0|   Cycling shorts|
|     2174773.0|    69749.0|        Kelsey Hill|   Mark36@gmail.com|6852899987.0|  82072 Dawn Centers|Nottingham|        England|99071.0|       UK|19.0|Female|   Low|         Premium|2023-12-31|2023.0| December| 8:42:04|            2.0|403.3539073| 806.7078147|     Electronics|      Samsung|      Tablet|Excellent|       Standard|   Credit Card|  Processing|    4.0|       Lenovo Tab|
|     6679610.0|    30192.0|       Scott Jensen|  Shane85@gmail.com|8362160449.0|   4133 Young Canyon|   Geelong|New South Wales|75929.0|Australia|48.0|  Male|   Low|         Regular|2023-04-26|2023.0|    April| 4:06:29|            3.0|354.4775997| 1063.432799|           Books|Penguin Books|  Children's|  Average|       Same-Day|   Credit Card|  Processing|    2.0| Sports equipment|
|     7232460.0|    62101.0|      Joseph Miller|   Mary34@gmail.com|2776751724.0|8148 Thomas Creek...|  Edmonton|        Ontario|88420.0|   Canada|56.0|  Male|  High|         Premium|2023-05-08|2023.0|      May|14:55:17|            7.0|352.4077173| 2466.854021|      Home Decor|   Home Depot|       Tools|Excellent|       Standard|        PayPal|  Processing|    4.0|    Utility knife|
|     4983775.0|    27901.0|      Debra Coleman|Charles30@gmail.com|9098267635.0|5813 Lori Ports S...|   Bristol|        England|48704.0|       UK|22.0|  Male|   Low|         Premium|2024-01-10|2024.0|  January|16:54:07|            2.0|124.2765245| 248.5530491|         Grocery|       Nestle|   Chocolate|      Bad|       Standard|          Cash|     Shipped|    1.0|Chocolate cookies|
|     6095326.0|    41289.0|       Ryan Johnson|  Haley12@gmail.com|3292677006.0|532 Ashley Crest ...|  Brisbane|New South Wales|74430.0|Australia|58.0|Female|Medium|         Premium|2023-09-21|2023.0|September|23:24:27|            4.0|296.2918059| 1185.167224|     Electronics|        Apple|      Tablet|     Good|        Express|        PayPal|     Pending|    4.0|       Lenovo Tab|
|     5434096.0|    97285.0|         Erin Lewis| Arthur76@gmail.com|1578355423.0|600 Brian Prairie...| Kitchener|        Ontario|47545.0|   Canada|29.0|Female|   Low|             New|2023-06-26|2023.0|     June|13:35:51|            2.0|315.0576476| 630.1152951|     Electronics|      Samsung|  Television|      Bad|       Standard|          Cash|  Processing|    1.0|          QLED TV|
|     2344675.0|    26603.0|      Angela Fields|  Tanya94@gmail.com|3668096144.0|     237 Young Curve|    Munich|         Berlin|86862.0|  Germany|29.0|  Male|Medium|         Premium|2023-03-24|2023.0|    March|10:12:56|            1.0|46.58807038| 46.58807038|        Clothing|         Zara|       Shirt|      Bad|       Same-Day|          Cash|  Processing|    1.0|      Dress shirt|
|     4155845.0|    80175.0|        Diane Clark| Martin39@gmail.com|6219779557.0|8823 Mariah Heigh...|Wollongong|New South Wales|39820.0|Australia|46.0|  Male|Medium|             New|2024-01-06|2024.0|  January|14:38:26|            8.0|328.8393017| 2630.714413|         Grocery|       Nestle|   Chocolate|      Bad|       Same-Day|          Cash|   Delivered|    1.0|   Dark chocolate|
|     4926148.0|    31878.0|          Lori Bell|Jessica33@gmail.com|6004895059.0|  6225 William Lodge|   Cologne|         Berlin|64317.0|  Germany|25.0|  Male|Medium|             New|2023-10-04|2023.0|  October|22:27:40|           10.0|397.6112295| 3976.112295|      Home Decor|   Home Depot| Decorations|Excellent|       Standard|          Cash|   Delivered|    4.0|          Candles|
+--------------+-----------+-------------------+-------------------+------------+--------------------+----------+---------------+-------+---------+----+------+------+----------------+----------+------+---------+--------+---------------+-----------+------------+----------------+-------------+------------+---------+---------------+--------------+------------+-------+-----------------+
only showing top 10 rows

In [188]:
retail.printSchema()

root
 |-- Transaction_ID: double (nullable = true)
 |-- Customer_ID: double (nullable = true)
 |-- Name: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Phone: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Zipcode: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Income: string (nullable = true)
 |-- Customer_Segment: string (nullable = true)
 |-- Date: date (nullable = true)
 |-- Year: double (nullable = true)
 |-- Month: string (nullable = true)
 |-- Time: string (nullable = true)
 |-- Total_Purchases: double (nullable = true)
 |-- Amount: double (nullable = true)
 |-- Total_Amount: double (nullable = true)
 |-- Product_Category: string (nullable = true)
 |-- Product_Brand: string (nullable = true)
 |-- Product_Type: string (nullable = true)
 |-- Feedback: string (nullable = true)
 |-- Shipping_Method: string (nullable = true)
 |-- Payment_Method: string (nullable = true)
 |-- Order_Status: string (nullable = true)
 |-- Ratings: double (nullable = true)
 |-- products: string (nullable = true)

In [191]:
state1 = retail.filter((col("State") == 'Berlin') & (col("Age") > 20) & (col("Date") > "2023") & (col("Month") == 'January'))

In [196]:
state1.groupBy(col("Gender")).count().show()

+------+-----+
|Gender|count|
+------+-----+
|  NULL|    2|
|Female| 1070|
|  Male| 3238|
+------+-----+

###