### Read/Load CSV File into RDD and Data frame.

In [1]:
from pyspark import SparkConf,SparkContext
import os 
import pandas as pd

In [2]:
conf = SparkConf().setAppName("Read CSV to RDD").setMaster('local')
sc = SparkContext(conf=conf)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/22 23:51:35 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
sc

In [4]:
csvFile = sc.textFile(f"file://{os.getcwd()}/data/Heart_disease_cleveland_new.csv")

In [7]:
def extract(line):
    return line

In [18]:
dataFrame = csvFile.map(lambda x: tuple(x.split(","))).map(extract).collect()

In [25]:
pd.DataFrame(dataFrame)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1,63,1,0,145,233,1,2,150,0,2.3,2,0,2,0
2,67,1,3,160,286,0,2,108,1,1.5,1,3,1,1
3,67,1,3,120,229,0,2,129,1,2.6,1,2,3,1
4,37,1,2,130,250,0,0,187,0,3.5,2,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,45,1,0,110,264,0,0,132,0,1.2,1,0,3,1
300,68,1,3,144,193,1,0,141,0,3.4,1,2,3,1
301,57,1,3,130,131,0,0,115,1,1.2,1,1,3,1
302,57,0,1,130,236,0,2,174,0,0,1,1,1,1
303,38,1,2,138,175,0,0,173,0,0,0,0,1,0

In [26]:
sc.stop()