### Read/Load CSV File into RDD and Data frame.

In [1]:
from pyspark import SparkConf,SparkContext
import os
import pandas as pd

In [2]:
conf = SparkConf().setAppName("Read CSV to RDD").setMaster('local')
sc = SparkContext(conf=conf)

24/06/23 07:45:48 WARN Utils: Your hostname, codespaces-ad5385 resolves to a loopback address: 127.0.0.1; using 172.16.5.4 instead (on interface eth0)
24/06/23 07:45:48 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/23 07:45:49 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
sc

In [4]:
csvFile = sc.textFile(f"file://{os.getcwd()}/data/Heart_disease_cleveland_new.csv")

In [5]:
def extract(line):
    return line

In [6]:
dataFrame = csvFile.map(lambda x: tuple(x.split(","))).map(extract).collect()

In [10]:
header = dataFrame[0]

In [16]:
df = pd.DataFrame(dataFrame[1:])

In [17]:
df.columns = header

In [18]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,0,145,233,1,2,150,0,2.3,2,0,2,0
1,67,1,3,160,286,0,2,108,1,1.5,1,3,1,1
2,67,1,3,120,229,0,2,129,1,2.6,1,2,3,1
3,37,1,2,130,250,0,0,187,0,3.5,2,0,1,0
4,41,0,1,130,204,0,2,172,0,1.4,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,1,0,110,264,0,0,132,0,1.2,1,0,3,1
299,68,1,3,144,193,1,0,141,0,3.4,1,2,3,1
300,57,1,3,130,131,0,0,115,1,1.2,1,1,3,1
301,57,0,1,130,236,0,2,174,0,0,1,1,1,1
302,38,1,2,138,175,0,0,173,0,0,0,0,1,0

In [26]:
sc.stop()