In [89]:
from pyspark import SparkConf, SparkContext,sql

In [11]:
sc = SparkContext("local", "Test")

In [12]:
sc

In [33]:
rdd = sc.textFile("file:///home/saurabh/Desktop/test/DataSets/SampleText.txt")

In [34]:
rdd.take(5)

['word count from Wikipedia the free encyclopedia',
 'the word count is the number of words in a document or passage of text Word counting may be needed when a text',
 'is required to stay within certain numbers of words This may particularly be the case in academia legal',
 'proceedings journalism and advertising Word count is commonly used by translators to determine the price for',
 'the translation job Word counts may also be used to calculate measures of readability and to measure typing']

In [35]:
def lowerFunc(lines):
    line = lines.lower()
    lines = lines.split()
    return lines
rdd1 = rdd.map(lowerFunc)

In [36]:
rdd1.take(5)

[['word', 'count', 'from', 'Wikipedia', 'the', 'free', 'encyclopedia'],
 ['the',
  'word',
  'count',
  'is',
  'the',
  'number',
  'of',
  'words',
  'in',
  'a',
  'document',
  'or',
  'passage',
  'of',
  'text',
  'Word',
  'counting',
  'may',
  'be',
  'needed',
  'when',
  'a',
  'text'],
 ['is',
  'required',
  'to',
  'stay',
  'within',
  'certain',
  'numbers',
  'of',
  'words',
  'This',
  'may',
  'particularly',
  'be',
  'the',
  'case',
  'in',
  'academia',
  'legal'],
 ['proceedings',
  'journalism',
  'and',
  'advertising',
  'Word',
  'count',
  'is',
  'commonly',
  'used',
  'by',
  'translators',
  'to',
  'determine',
  'the',
  'price',
  'for'],
 ['the',
  'translation',
  'job',
  'Word',
  'counts',
  'may',
  'also',
  'be',
  'used',
  'to',
  'calculate',
  'measures',
  'of',
  'readability',
  'and',
  'to',
  'measure',
  'typing']]

In [37]:
rdd2 = rdd.flatMap(lowerFunc)

In [38]:
rdd2.take(5)

['word', 'count', 'from', 'Wikipedia', 'the']

In [42]:
stopWords = ['a', 'all', 'the', 'as', 'is', 'am', 'an', 'and', 'been', 'be', 'from', 'had', 'in', 'of']
rdd3= rdd2.filter(lambda x : x not in stopWords)
rdd3.take(12)

['word',
 'count',
 'Wikipedia',
 'free',
 'encyclopedia',
 'word',
 'count',
 'number',
 'words',
 'document',
 'or',
 'passage']

In [47]:
rdd4 = rdd3.groupBy(lambda w: w[0:3])
print([(k, list(v)) for (k,v) in rdd4.take(10)])

[('wor', ['word', 'word', 'words', 'words', 'words', 'words', 'word', 'words', 'word', 'words', 'word', 'word', 'word', 'word', 'word', 'word', 'word', 'words', 'word', 'words', 'word', 'word', 'word', 'words', 'words', 'word', 'word', 'workers', 'word', 'word', 'word', 'words', 'word', 'word', 'words', 'words', 'words', 'work', 'words', 'word', 'words', 'word', 'words', 'words', 'words', 'words', 'words']), ('cou', ['count', 'count', 'counting', 'count', 'counts', 'counts', 'count', 'counts', 'count', 'counting', 'counted', 'count', 'counted', 'counting', 'count', 'count', 'count', 'counting', 'count', 'counting', 'counting', 'could', 'count']), ('Wik', ['Wikipedia']), ('fre', ['free']), ('enc', ['encyclopedia']), ('num', ['number', 'numbers', 'number', 'number']), ('doc', ['document', 'documents', 'document']), ('or', ['or', 'or', 'or', 'or', 'or', 'or', 'or', 'or', 'or', 'or', 'or']), ('pas', ['passage']), ('tex', ['text', 'text', 'text', 'text', 'text', 'text)', 'text', 'text', 'text'])]

In [48]:
num_rdd = sc.parallelize(range(1, 10000))
num_rdd.reduce(lambda x, y : x + y)

49995000

In [49]:
from pyspark.sql import SparkSession

In [59]:
spark = SparkSession.builder.appName("PySparkShell").getOrCreate()

24/05/05 17:03:58 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [67]:
nyFlightsDF = spark.read.csv("file:///home/saurabh/Desktop/test/DataSets/FlightData/flight_data.csv", inferSchema=True, header=True)

In [68]:
nyFlightsDF.printSchema()

root
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- dep_time: string (nullable = true)
 |-- sched_dep_time: integer (nullable = true)
 |-- dep_delay: string (nullable = true)
 |-- arr_time: string (nullable = true)
 |-- sched_arr_time: integer (nullable = true)
 |-- arr_delay: string (nullable = true)
 |-- carrier: string (nullable = true)
 |-- flight: integer (nullable = true)
 |-- tailnum: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- dest: string (nullable = true)
 |-- air_time: string (nullable = true)
 |-- distance: integer (nullable = true)
 |-- hour: integer (nullable = true)
 |-- minute: integer (nullable = true)
 |-- time_hour: string (nullable = true)

In [69]:
nyFlightsDF.count()

336776

In [70]:
nyFlightsDF.select(['flight', 'origin', 'dest', 'distance']).show()

+------+------+----+--------+
|flight|origin|dest|distance|
+------+------+----+--------+
|  1545|   EWR| IAH|    1400|
|  1714|   LGA| IAH|    1416|
|  1141|   JFK| MIA|    1089|
|   725|   JFK| BQN|    1576|
|   461|   LGA| ATL|     762|
|  1696|   EWR| ORD|     719|
|   507|   EWR| FLL|    1065|
|  5708|   LGA| IAD|     229|
|    79|   JFK| MCO|     944|
|   301|   LGA| ORD|     733|
|    49|   JFK| PBI|    1028|
|    71|   JFK| TPA|    1005|
|   194|   JFK| LAX|    2475|
|  1124|   EWR| SFO|    2565|
|   707|   LGA| DFW|    1389|
|  1806|   JFK| BOS|     187|
|  1187|   EWR| LAS|    2227|
|   371|   LGA| FLL|    1076|
|  4650|   LGA| ATL|     762|
|   343|   EWR| PBI|    1023|
+------+------+----+--------+
only showing top 20 rows

In [71]:
nyFlightsDF.describe('distance').show()

+-------+------------------+
|summary|          distance|
+-------+------------------+
|  count|            336776|
|   mean|1039.9126036297123|
| stddev| 733.2330333236766|
|    min|                17|
|    max|              4983|
+-------+------------------+

In [72]:
nyFlightsDF.filter(nyFlightsDF.distance == 17).show()

+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+----------------+
|year|month|day|dep_time|sched_dep_time|dep_delay|arr_time|sched_arr_time|arr_delay|carrier|flight|tailnum|origin|dest|air_time|distance|hour|minute|       time_hour|
+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+----------------+
|2013|    7| 27|      NA|           106|       NA|      NA|           245|       NA|     US|  1632|     NA|   EWR| LGA|      NA|      17|   1|     6|27-07-2013 01:00|
+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+----------------+

In [87]:
nyFlightsDF.filter(nyFlightsDF.origin == 'EWR').show()

+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+-------------+
|year|month|day|dep_time|sched_dep_time|dep_delay|arr_time|sched_arr_time|arr_delay|carrier|flight|tailnum|origin|dest|air_time|distance|hour|minute|    time_hour|
+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+-------------+
|2013|    1|  1|     517|           515|        2|     830|           819|       11|     UA|  1545| N14228|   EWR| IAH|     227|    1400|   5|    15|1/1/2013 5:00|
|2013|    1|  1|     554|           558|       -4|     740|           728|       12|     UA|  1696| N39463|   EWR| ORD|     150|     719|   5|    58|1/1/2013 5:00|
|2013|    1|  1|     555|           600|       -5|     913|           854|       19|     B6|   507| N516JB|   EWR| FLL|     158|    1065|   6|     0|1/1/2013 6:00|
|2013|    1|  1|     558|           600|       -2|     923|           937|      -14|     UA|  1124| N53441|   EWR| SFO|     361|    2565|   6|     0|1/1/2013 6:00|
|2013|    1|  1|     559|           600|       -1|     854|           902|       -8|     UA|  1187| N76515|   EWR| LAS|     337|    2227|   6|     0|1/1/2013 6:00|
|2013|    1|  1|     601|           600|        1|     844|           850|       -6|     B6|   343| N644JB|   EWR| PBI|     147|    1023|   6|     0|1/1/2013 6:00|
|2013|    1|  1|     606|           610|       -4|     858|           910|      -12|     AA|  1895| N633AA|   EWR| MIA|     152|    1085|   6|    10|1/1/2013 6:00|
|2013|    1|  1|     607|           607|        0|     858|           915|      -17|     UA|  1077| N53442|   EWR| MIA|     157|    1085|   6|     7|1/1/2013 6:00|
|2013|    1|  1|     608|           600|        8|     807|           735|       32|     MQ|  3768| N9EAMQ|   EWR| ORD|     139|     719|   6|     0|1/1/2013 6:00|
|2013|    1|  1|     615|           615|        0|     833|           842|       -9|     DL|   575| N326NB|   EWR| ATL|     120|     746|   6|    15|1/1/2013 6:00|
|2013|    1|  1|     622|           630|       -8|    1017|          1014|        3|     US|   245| N807AW|   EWR| PHX|     342|    2133|   6|    30|1/1/2013 6:00|
|2013|    1|  1|     624|           630|       -6|     909|           840|       29|     EV|  4626| N11107|   EWR| MSP|     190|    1008|   6|    30|1/1/2013 6:00|
|2013|    1|  1|     628|           630|       -2|    1016|           947|       29|     UA|  1665| N33289|   EWR| LAX|     366|    2454|   6|    30|1/1/2013 6:00|
|2013|    1|  1|     629|           630|       -1|     824|           833|       -9|     US|  1019| N426US|   EWR| CLT|      91|     529|   6|    30|1/1/2013 6:00|
|2013|    1|  1|     632|           608|       24|     740|           728|       12|     EV|  4144| N13553|   EWR| IAD|      52|     212|   6|     8|1/1/2013 6:00|
|2013|    1|  1|     643|           646|       -3|     922|           940|      -18|     UA|   556| N497UA|   EWR| PBI|     146|    1023|   6|    46|1/1/2013 6:00|
|2013|    1|  1|     643|           645|       -2|     837|           848|      -11|     US|   926| N178US|   EWR| CLT|      91|     529|   6|    45|1/1/2013 6:00|
|2013|    1|  1|     644|           636|        8|     931|           940|       -9|     UA|  1701| N75435|   EWR| FLL|     151|    1065|   6|    36|1/1/2013 6:00|
|2013|    1|  1|     646|           645|        1|    1023|          1030|       -7|     UA|  1496| N38727|   EWR| SNA|     380|    2434|   6|    45|1/1/2013 6:00|
|2013|    1|  1|     656|           700|       -4|     948|          1011|      -23|     UA|  1115| N24212|   EWR| TPA|     156|     997|   7|     0|1/1/2013 7:00|
+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+-------------+
only showing top 20 rows

In [88]:
nyFlightsDF.where((nyFlightsDF.day == 2) & (nyFlightsDF.origin == 'JFK') & (nyFlightsDF.arr_delay < 0)).show()

+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+-------------+
|year|month|day|dep_time|sched_dep_time|dep_delay|arr_time|sched_arr_time|arr_delay|carrier|flight|tailnum|origin|dest|air_time|distance|hour|minute|    time_hour|
+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+-------------+
|2013|    1|  2|     535|           540|       -5|     831|           850|      -19|     AA|  1141| N621AA|   JFK| MIA|     156|    1089|   5|    40|2/1/2013 5:00|
|2013|    1|  2|     539|           545|       -6|     959|          1022|      -23|     B6|   725| N624JB|   JFK| BQN|     184|    1576|   5|    45|2/1/2013 5:00|
|2013|    1|  2|     554|           600|       -6|     845|           901|      -16|     B6|   125| N637JB|   JFK| FLL|     156|    1069|   6|     0|2/1/2013 6:00|
|2013|    1|  2|     554|           600|       -6|     841|           851|      -10|     B6|    49| N658JB|   JFK| PBI|     146|    1028|   6|     0|2/1/2013 6:00|
|2013|    1|  2|     558|           600|       -2|     916|           931|      -15|     UA|   303| N505UA|   JFK| SFO|     341|    2586|   6|     0|2/1/2013 6:00|
|2013|    1|  2|     612|           615|       -3|    1053|          1100|       -7|     B6|   709| N629JB|   JFK| SJU|     191|    1598|   6|    15|2/1/2013 6:00|
|2013|    1|  2|     637|           630|        7|    1012|          1018|       -6|     US|    27| N545UW|   JFK| PHX|     312|    2153|   6|    30|2/1/2013 6:00|
|2013|    1|  2|     640|           640|        0|     732|           749|      -17|     B6|  1002| N807JB|   JFK| BOS|      34|     187|   6|    40|2/1/2013 6:00|
|2013|    1|  2|     641|           647|       -6|     804|           810|       -6|     B6|   102| N766JB|   JFK| BUF|      60|     301|   6|    47|2/1/2013 6:00|
|2013|    1|  2|     649|           655|       -6|     951|          1030|      -39|     DL|  1415| N374DA|   JFK| SLC|     274|    1990|   6|    55|2/1/2013 6:00|
|2013|    1|  2|     654|           700|       -6|     946|          1045|      -59|     DL|  1865| N711ZX|   JFK| SFO|     323|    2586|   7|     0|2/1/2013 7:00|
|2013|    1|  2|     655|           659|       -4|     955|           959|       -4|     AA|  1815| N5EUAA|   JFK| MCO|     144|     944|   6|    59|2/1/2013 6:00|
|2013|    1|  2|     655|           655|        0|     929|           942|      -13|     B6|   203| N651JB|   JFK| LAS|     297|    2248|   6|    55|2/1/2013 6:00|
|2013|    1|  2|     655|           700|       -5|    1031|          1034|       -3|     DL|   763| N705TW|   JFK| LAX|     317|    2475|   7|     0|2/1/2013 7:00|
|2013|    1|  2|     659|           700|       -1|     959|          1025|      -26|     VX|   399| N626VA|   JFK| LAX|     330|    2475|   7|     0|2/1/2013 7:00|
|2013|    1|  2|     707|           715|       -8|    1022|          1045|      -23|     AA|   443| N3HYAA|   JFK| MIA|     160|    1089|   7|    15|2/1/2013 7:00|
|2013|    1|  2|     709|           700|        9|    1006|          1014|       -8|     B6|   671| N583JB|   JFK| LAX|     327|    2475|   7|     0|2/1/2013 7:00|
|2013|    1|  2|     714|           715|       -1|    1026|          1035|       -9|     AA|   825| N3BAAA|   JFK| FLL|     161|    1069|   7|    15|2/1/2013 7:00|
|2013|    1|  2|     715|           715|        0|    1047|          1112|      -25|     UA|   223| N517UA|   JFK| SFO|     341|    2586|   7|    15|2/1/2013 7:00|
|2013|    1|  2|     724|           730|       -6|    1039|          1115|      -36|     VX|    11| N847VA|   JFK| SFO|     344|    2586|   7|    30|2/1/2013 7:00|
+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+-------------+
only showing top 20 rows

In [90]:
from pyspark.sql import SQLContext

In [91]:
sqlContext = SQLContext(sc)

/home/saurabh/.local/lib/python3.10/site-packages/pyspark/sql/context.py:113: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [94]:
nyFlightsDF.createOrReplaceTempView("NYC_FLIGHTS")

In [101]:
sqlContext.sql("select min(air_time) from NYC_FLIGHTS").show()

+-------------+
|min(air_time)|
+-------------+
|          100|
+-------------+

In [100]:
sqlContext.sql("select * from NYC_FLIGHTS where air_time IN (select min(air_time) from NYC_FLIGHTS)").show()

+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+--------------+
|year|month|day|dep_time|sched_dep_time|dep_delay|arr_time|sched_arr_time|arr_delay|carrier|flight|tailnum|origin|dest|air_time|distance|hour|minute|     time_hour|
+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+--------------+
|2013|    1|  1|    1030|          1035|       -5|    1229|          1246|      -17|     EV|  4277| N11189|   EWR| CHS|     100|     628|  10|    35|1/1/2013 10:00|
|2013|    1|  1|    1255|          1259|       -4|    1501|          1502|       -1|     US|  1459| N540UW|   LGA| CLT|     100|     544|  12|    59|1/1/2013 12:00|
|2013|    1|  1|    1803|          1800|        3|    2021|          2001|       20|     US|   373| N510UW|   JFK| CLT|     100|     541|  18|     0|1/1/2013 18:00|
|2013|    1|  2|     910|           858|       12|    1114|          1105|        9|     US|  1429| N747UW|   LGA| CLT|     100|     544|   8|    58| 2/1/2013 8:00|
|2013|    1|  2|    1033|           929|       64|    1235|          1132|       63|     EV|  4175| N13914|   EWR| AVL|     100|     583|   9|    29| 2/1/2013 9:00|
|2013|    1|  2|    1706|          1710|       -4|    1909|          1915|       -6|     US|  1447| N539UW|   LGA| CLT|     100|     544|  17|    10|2/1/2013 17:00|
|2013|    1|  3|     556|           605|       -9|     756|           805|       -9|     MQ|  4401| N722MQ|   LGA| DTW|     100|     502|   6|     5| 3/1/2013 6:00|
|2013|    1|  3|     830|           825|        5|    1028|          1029|       -1|     EV|  4412| N21144|   EWR| MYR|     100|     550|   8|    25| 3/1/2013 8:00|
|2013|    1|  3|    1454|          1500|       -6|    1656|          1655|        1|     MQ|  4429| N711MQ|   LGA| CMH|     100|     479|  15|     0|3/1/2013 15:00|
|2013|    1|  3|    1455|          1500|       -5|    1712|          1657|       15|     EV|  4326| N12567|   EWR| CLT|     100|     529|  15|     0|3/1/2013 15:00|
|2013|    1|  4|     821|           829|       -8|    1020|          1034|      -14|     EV|  4690| N13969|   EWR| GRR|     100|     605|   8|    29| 4/1/2013 8:00|
|2013|    1|  4|     939|           950|      -11|    1150|          1210|      -20|     9E|  3961| N8501F|   LGA| GRR|     100|     618|   9|    50| 4/1/2013 9:00|
|2013|    1|  4|    1444|          1447|       -3|    1657|          1654|        3|     EV|  4572| N10575|   EWR| GSP|     100|     594|  14|    47|4/1/2013 14:00|
|2013|    1|  4|    1526|          1530|       -4|    1740|          1737|        3|     US|  1665| N723UW|   LGA| CLT|     100|     544|  15|    30|4/1/2013 15:00|
|2013|    1|  4|    1552|          1600|       -8|    1752|          1820|      -28|     MQ|  3985| N610MQ|   JFK| CVG|     100|     589|  16|     0|4/1/2013 16:00|
|2013|    1|  4|    2108|          2000|       68|    2304|          2208|       56|     EV|  3822| N14972|   EWR| TYS|     100|     631|  20|     0|4/1/2013 20:00|
|2013|    1|  5|     848|           855|       -7|    1100|          1100|        0|     EV|  4913| N741EV|   EWR| DTW|     100|     488|   8|    55| 5/1/2013 8:00|
|2013|    1|  6|     808|           805|        3|    1015|          1005|       10|     B6|   219| N198JB|   JFK| CLT|     100|     541|   8|     5| 6/1/2013 8:00|
|2013|    1|  6|    1803|          1635|       88|    2019|          1845|       94|     B6|  1085| N229JB|   JFK| CLT|     100|     541|  16|    35|6/1/2013 16:00|
|2013|    1|  7|     614|           615|       -1|     812|           855|      -43|     9E|  3856| N146PQ|   JFK| ATL|     100|     760|   6|    15| 7/1/2013 6:00|
+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+--------------+
only showing top 20 rows

In [105]:
sc.stop()

In [106]:
spark.stop()

In [1]:
from pyspark import SparkContext, SparkConf

In [2]:
conf = SparkConf().setMaster("local[*]").setAppName("Heart disease-using decision tree")

In [4]:
import pandas as pd
import numpy as np

In [5]:
heartDisease_df = pd.read_csv("//home/saurabh/Desktop/test/DataSets/Heart_disease_cleveland_new.csv")

In [6]:
heartDisease_df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,0,145,233,1,2,150,0,2.3,2,0,2,0
1,67,1,3,160,286,0,2,108,1,1.5,1,3,1,1
2,67,1,3,120,229,0,2,129,1,2.6,1,2,3,1
3,37,1,2,130,250,0,0,187,0,3.5,2,0,1,0
4,41,0,1,130,204,0,2,172,0,1.4,0,0,1,0